.navbar{
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	padding-top: 20px;
	position: absolute;
	padding-bottom: 20px;

	@include maxDevice(991px){
		background-color: $dark-0E;
		padding-bottom: 12px;
		padding-top: 30px;
		position: fixed;
	}
	
	&-nav{
		margin: 0 auto;
	}

	&-brand{
		min-width: 265px;
		margin-right: 0;

		img{
			max-width: 100%;
		}

		@include maxDevice(1199px){
			min-width: 217px;
		}
	}

	&-toggler{
		padding: 0;

		span{
			width: 40px;
			height: 40px;
			border-radius: 8px;
			background-size: auto;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: rgba($dark-15, 0.77);
			background-image: url('../images/menu-icon.svg');
		}

		&[aria-expanded="true"]{
			span{
				background-image: url('../images/menu-close.svg');
			}
		}
	}

	&-social{
		@include maxDevice(991px){
			margin-top: 50px;
		}

		img{
			display: block;
		}

		@include maxDevice(991px){
			justify-content: center;
		}

		a{
			@include maxDevice(991px){
				margin-bottom: 20px;
			}

			+ a{
				margin-left: 9px;


				@include maxDevice(1199px){
					margin-left: 5px;
				}

				@include maxDevice(991px){
					margin-left: 20px;
				}
			}
		}
	}

	&-collapse{
		@include maxDevice(991px){
			@include transition(all .35s linear);
			background-color: $dark-0E;
			display: block !important;
			padding-top: 175px;
			min-height: 100vh;
			position: fixed;
			height: 100vh;
			width: 100%;
			z-index: -1;
			top: -100%;
			left: 0;

			&.show{
				top: 0;
			}
		}
	}
}

.nav{
	&-link{
		color: $white;
		font-size: 14px;
		font-weight: 400;
		padding: 10px 8px !important;

		&:hover{
			color: $yellow;
		}

		@include maxDevice(1199px){
			padding: 10px 3px !important;
		}
		@include maxDevice(991px){
			font-size: 18px;
			text-align: center;
		}
	}
}

.footer{
	&-inner{
		padding: 85px 0;
		border-top: 1px solid rgba($white, 0.5);

		@include maxDevice(991px){
			padding: 50px 0;
		}

		a{
			color: $yellow;
			letter-spacing: 0.21em;
			text-transform: uppercase;

			&:hover{
				letter-spacing: 0.15em;
			}
		}
	}
}